* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightgray;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Courier New', Courier, monospace;
}

#btnConteiner {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #e5e5e5e5;
    background-color: hsl(0, 100%, 60%);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

button:hover {
    background-color: hsl(0, 100%, 40%);
}